.Homeimages{
    background-size: cover;
    height: 512px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.homebutton{
    margin-left: 40px;
    margin-bottom: 35px
    
}
.homebutton button{
    color: white;
    background-color: #c12c28;
    border: none;
    height: 35px;
    width: 110px;
    border-radius: 31px;
    font-size: 14px;
}
