.aboutdiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 77px
}
.aboutdiv img{
    width: 100%;
    height: 280px;
    /* margin-top: 27px; */
}
.form{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.contactimage{
    height: 312px;
    width: 378px;
}
    
.contactdiv{
    display: flex;
    justify-content: center;
    gap: 31px;
    margin: 100px;
}

.contactdiv2{
    display: flex;
    flex-direction: column;
    gap: 18px;
}
input{
    border: none;
    border-bottom: 1px solid black;
    color: black;
}
label{
    color: gray;
}